<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This application provides a user friendly data input interface for the capacitated lot-sizing problem in closed-loop supply chains.

</p>
</body>
</html>